aiohttp==3.7.4
async-timeout==3.0.1
attrs==19.3.0
certifi==2019.11.28
chardet==3.0.4
idna==2.8
multidict==4.7.4
PyYAML==5.4
requests==2.22.0
rt==1.0.12
six==1.14.0
slack==0.0.2
slackclient==2.5.0
urllib3==1.26.5
